<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gambling Behaviour - KidsPlaySafer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    
    <body>
        <header>
            <h1>KidsPlaySafer</h1>
            <a href="{{ url_for('index') }}" class="back-link">Back Home</a>
        </header>
        <div class="content">
            <h3>Encourages Gambling-like Behavior</h3>
            <p>
                Gacha games use a randomized reward system similar to gambling, where players spend in-game currency (often bought with real money) to obtain rare items. This mechanic can foster addictive behaviors and impulsive spending in children, as they might not fully understand the financial risks involved.
            </p>
            <p>
                In Singapore, where there are strict gambling regulations to protect minors, gacha games blur the lines, potentially normalizing these behaviors and making them more susceptible to gambling-related issues later in life.
            </p>
        </div>
    </body>
</html>
