<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KidsPlaySafer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>    
    <body>
        <header>
            <h1>KidsPlaySafer</h1>
            <h2>The negative effects on gacha games</h2>
        </header>
        <div class="container">
            <div class="box" id="gambling-behaviour">
                <h3>Gambling Behaviour</h3>
                <p>
                    Learn about how gacha games can promote gambling-like behaviors, 
                    especially among young audiences, and the psychological impacts of these features.
                </p>
                <form action="{{ url_for('gambling_behaviour') }}" method="GET">
                    <button type="submit" class="link-button">Read More -></button>
                </form>
            </div>
            <div class="box" id="financial-exploitations">
                <h3>Financial Exploitations</h3>
                <p>
                    Understand how in-game purchases can lead to significant financial expenditures, 
                    often exploiting young players or unaware guardians.
                </p>
                <form action="{{ url_for('financial_exploitations') }}" method="GET">
                    <button type="submit" class="link-button">Read More -></button>
                </form>
            </div>
            <div class="box" id="mental-health">
                <h3>Mental Health</h3>
                <p>
                    Discover the impact that extended play sessions and gambling-like elements 
                    have on the mental health of young gamers, leading to anxiety and addiction.
                </p>
                <form action="{{ url_for('mental_health') }}" method="GET">
                    <button type="submit" class="link-button">Read More -></button>
                </form>
            </div>
        </div>
    </body>
</html>
