<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mental Health - KidsPlaySafer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    
    <body>
        <header>
            <h1>KidsPlaySafer</h1>
            <a href="{{ url_for('index') }}" class="back-link">Back Home</a>
        </header>
        <div class="content">
            <h3>Negative Impact on Mental Health and Well-being</h3>
            <p>
                The randomized rewards and competition in gacha games can contribute to anxiety, frustration, and low self-esteem, especially for younger players who might feel pressured to keep up with peers. Children may also experience a "fear of missing out" (FOMO) on limited-time items, leading to excessive screen time and neglect of schoolwork, physical activities, and social interactions. 
            </p>
            <p>
                In Singapore, where academic performance and societal pressures are high, these games can exacerbate stress and distract from important developmental activities.
            </p>
        </div>
    </body>
</html>
